<a class="trigger no-print"
  role="button"
  tabindex="0"
  (click)="onSettingsUpdate('expanded', expanded = !expanded)"
  (keydown.enter)="onSettingsUpdate('expanded', expanded = !expanded)">
  <i class="icon-expand"></i> Debug
</a>

<h4 class="title no-print">Control panel
  <a class="icon-reload reload"
    (click)="refresh()"
    (keydown.enter)="refresh()"></a>
</h4>
<form class="no-print">

  <c-select-input name="lang"
    placeholder="Choose language"
    [options]="languages"
    [ngModel]="language"
    (ngModelChange)="onSettingsUpdate('language', $event)">Languages</c-select-input>

  <c-text-input name="api"
    [ngModel]="api"
    (ngModelChange)="onSettingsUpdate('api', $event)">API</c-text-input>

  <c-text-input name="scenario"
    [ngModel]="scenario"
    (ngModelChange)="onSettingsUpdate('scenario', $event)">Scenario</c-text-input>

  <c-select-input name="customer"
    placeholder="Choose mock customer"
    [options]="users"
    [ngModel]="user"
    (ngModelChange)="onSettingsUpdate('user', $event)">Users</c-select-input>

  <c-text-input name="delay"
    [ngModel]="delay"
    (ngModelChange)="onSettingsUpdate('delay', $event)">Delay</c-text-input>

  <c-checkbox-input name="live"
    [ngModel]="live"
    (ngModelChange)="onSettingsUpdate('live', $event)">Live data (requires reload)</c-checkbox-input>
</form>
